#navigation{
    /* make it linear */
    display: flex;
    
    flex-flow: row wrap;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;

    /* make the list icon gone */
    list-style: none inside;

    margin: 0;
    background-color: aquamarine;
}

#navigation a{
    text-decoration: none;
    display: block;
    padding: 1em;
    color:teal;
    cursor: pointer;
}

#navigation li:hover ul{
    display: block;
}
/* how to space across all screen when the page is small? */
@media all and (max-width:800px) {
    .navigation{
        justify-content: space-around;
    }
}
#navigation li:hover{
    background:thistle;
}
#navigation li li a {
    font-size: 80%;
    
  }

#navigation ul{
    display: none;
    position: absolute;
    padding:0;
    text-decoration: none;
    list-style: none;
  }
