body {
    margin: 0;
}
.container {
    border: 6px solid black;

    /*going row ways! */
    /* display: flex; */

    /* remove the blank */
    /* display: inline-flex; */

    /* default direction is row */
    /* flex-direction: row-reverse; */
    /* flex-direction: column/column-reverse; */

    /* flex-wrap: wrap-reverse; */

    /* flex-direction: column;
    flex-wrap: wrap;
    height: 400px; */

    /* flow = direction + wrap */

    /* flex-flow: row-reverse wrap; */

    /* flex-flow: column-reverse wrap-reverse;
    height: 400px; */

    /* justify: */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */

    /* aligh */
    /* Main axis horizontal */
    /* justify-content: center; */
    /* cross axis vertical */
    /* align-items: center; */
    /* height: 800px; */
    /* align-items: baseline; */
    /* align-items: flex-start; */

    display: flex;
    /* height: 800px; */
    /* flex-wrap: wrap; */
    /* align-content: stretch; */
    /* align-content: center; */
}
.flex-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center; 

    /* will grow all items to fill space  */
    /* flex-grow: 1; */
    width: 8rem;
}
.item-1 {
    background-color: #B4BF35;
    /* basline show  */
    /* padding-bottom: 3rem; */
}
.item-2 {
    background-color: #B95F21;
    /* padding-bottom: 5rem; */

    /* shink: 4 times smaller speed than others */
    flex-shrink: 4;
}
.item-3 {
    background-color: #1C4C56;
    /* font-size: 3rem; */
    flex-shrink: 2;
}
.item-4 {
    background-color: #CfB276;
}
.item-5 {
    background-color: #6B0803;
    /* flex-grow: fill the empty space */
    flex-grow: 1;
}
.item-6 {
    background-color: #1C4C56;
    flex-grow: 1;
}
.item-7 {
    background-color: #B95F21;
}
.item-8 {
    background-color: #01243A;
}
.item-9 {
    background-color: #AAD041;
}